body {
    background: #DDE1E3;
}



/*PC ------------SKÆRM STØRRELSE---------- */

@media only screen and (min-width: 800px) {



    main {
        max-width: 100%;
        margin: 0 auto;
    }



    /*.billedknap {
    height: 246px;
    width: 264px;
}*/

    h3 {
        text-align: center;
    }





    .grid-container2 h4 {
        color: #DDE1E3;
    }

    .center {
        text-align: center;
    }

    .overskift {
        text-align: center;
    }


    .grid-container2 .button {
        background: #516477;


    }

    .grid-container2 a {
        color: #B5C1CB;
    }

    .grid-container2 .button1 {
        box-shadow: 1px 0px 10px 1px #B5C1CB;
    }

    .grid-container2 .button1:hover {
        background-color: #3E4953;
        color: white;
    }

}
