body {
    background: #DDE1E3;
}



/*PC ------------SKÆRM STØRRELSE---------- */

@media only screen and (min-width: 800px) {



    main {
        max-width: 100%;
        margin: 0 auto;
    }



    /*.billedknap {
    height: 246px;
    width: 264px;
}*/

    h3 {
        text-align: center;
    }

    .grid-container2 h4 {
        color: #DDE1E3;
    }

    .center {
        text-align: center;
    }

    .overskift {
        text-align: center;
    }


    .grid-container2 .button {
        background: #516477;
    }

    .grid-container2 a {
        color: #B5C1CB;
    }

    .grid-container2 .button1 {
        box-shadow: 1px 0px 10px 1px #B5C1CB;
    }

    .grid-container2 .button1:hover {
        background-color: #3E4953;
        color: white;
    }


    .grid-container2 p {
        color: #B5C1CB;
        text-align: center;
    }

    .grid-container2 .text {
        position: relative;
        left: -50vw;
        top: 5vw;
    }

    .grid-container2 .image {
        position: relative;
        left: 42vw;
    }


    .grid-container1 .text {
        position: relative;
        left: -3vw;
        top: 2vw;

    }

    .grid-container1 .image {
        position: relative;
        left: 2vw;
    }

    .text1 {
        position: relative;
        left: -5vw;
        top: 2vw;
    }

    main img {
        width: 67%;
        border: 1px;
        padding: 26px;
        position: relative;
        left: 13vw;
        margin: 2px;
    }

    .grid-container1 {
        display: grid;
        grid-template-columns: auto 42%;
        grid-gap: 10px;
        background-color: #DDE1E3;
        padding: 10px;
        width: 100%;

    }
